* {
    font-family: courier;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #111720;
}

div {
    color: white;
}

/* header */
.header {
    background-color: #111720;
    display: flex;
}

.title {
    font-size: xx-large;
    color: #fac650;
}

/* main */
.main {
    background-color: #3d4c65;
}

.title2 {
    font-size: x-large;
    color: white;
}

.title,
.title2 {
    font-weight: 800;
    font-family: monospace;
    margin: 20px;
}

body {
    flex-direction: column;
}

.btn-container,
.choices-container,
.score-container {
    display: flex;
}

.score-container {
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}

.btn-container {
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}

.choices-container {
    justify-content: space-around;
}

.cpu-container,
.player-container {
    display: flex;
    flex-direction: column;
}

.player-container,
.cpu-container {
    gap: 20px;
}

.circle {
    border-radius: 50%;
    padding: 20px;
    gap: 10px;
}

.btn {
    background-color: rgb(50, 50, 50);
    border: none;
}

.btn:hover {
    background-color: rgb(64, 64, 64);
}

span {
    font-size: 5rem;
}

.end-result {
    color: red;
}

/* footer */
a {
    text-decoration: none;
    color: white;
}

.footer {
    background-color: #0b0e14;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding: 15px;
}